@model My_Company.Areas.Warehouse.ViewModels.CorrectedDeliveryViewModel

@{
    ViewData["Title"] = "Szczegóły dostawy - " + Model.PZNumber;
}

<h1>Szczegóły dostawy</h1>

<div>
    <h4>@Html.DisplayFor(m => m.PZNumber)</h4>
    <h6>Jest to korekta dostawy nr. <a asp-action="Details" asp-route-id="@Model.CorrectedId">@Model.CorrectedNumber</a></h6>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div>
                <span><small class="text-muted">@Html.DisplayNameFor(m => m.Supplier)</small></span>
            </div>
            <div>
                <span>@Html.DisplayFor(m => m.Supplier)</span>
                <a asp-controller="Suppliers" asp-action="Details" asp-route-id="@Model.SupplierId">Szczegóły</a>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <span><small class="text-muted">@Html.DisplayNameFor(m => m.DeliveryDate)</small></span>
            </div>
            <div>
                <span>@Html.DisplayFor(m => m.DeliveryDate)</span>
            </div>
        </div>
    </div>
    <hr />
</div>
<div>
    <h4>@Html.DisplayNameFor(m => m.Products)</h4>
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="col-6 col-md-3 my-2">
                <div class="card border-success">
                    <h6 class="card-header">@Html.DisplayFor(m => item.AfterCorrection.Name)</h6>
                    <img class="card-img-top" src="@Url.Content(item.AfterCorrection.Photo)" alt="@item.AfterCorrection.Name">
                    <div class="card-body mb-0">
                        <b>@Html.DisplayNameFor(m => item.AfterCorrection.Count)</b>
                        @if (item.AfterCorrection.Count != item.Orginal.Count)
                        {
                            <p class="mb-0"><del class="text-danger">@Html.DisplayFor(m => item.Orginal.Count)</del> @Html.DisplayFor(m => item.AfterCorrection.Count)</p>
                        }
                        else
                        {
                            <p class="mb-0">@Html.DisplayFor(m => item.AfterCorrection.Count)</p>
                        }

                        <b>@Html.DisplayNameFor(m => item.AfterCorrection.Sector)</b>
                        <p class="mb-0">@Html.DisplayFor(m => item.AfterCorrection.Sector)</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="d-flex justify-content-between">
    <a class="btn btn-outline-primary" asp-action="Index">Powrót do listy</a>
</div>
<style>
    .card-img-top {
        height: 20vh;
        object-fit: scale-down;
    }
</style>