@model List<My_Company.Areas.Warehouse.ViewModels.MainPageItemViewModel>

@if (Model.Count > 0)
{
    <div class="card border-0 m-0">
        <img src="@Url.Content(Model[0].PhotoUrl)" class="card-img" alt="@Model[0].Title">
        <div class="card-img-overlay w-50 d-flex align-items-center">
            <div>
                <h5 class="card-title">@Html.DisplayFor(m => m[0].Title)</h5>
                <p class="card-text">@Html.DisplayFor(m => m[0].Descritpion)</p>
                <button class="btn btn-outline-dark btn-lg" type="button" style="border-radius:1px">@Html.DisplayFor(m => m[0].ButtonText)</button>
            </div>
        </div>
    </div>
    <h6 class="text-muted">Przycisk przenosi do kategorii <b>@Html.DisplayFor(m => m[0].CategoryName)</b></h6>
    <div class="d-flex justify-content-between">
        <div>
            <button class="btn btn-outline-danger m-2 deleteMainPageItem" data-order="@Model[0].Order">Usuń</button>
            <button class="btn btn-outline-primary m-2" data-toggle="modal" data-target="#editMainPageItemModal@(Model[0].Order)">Edytuj treść</button>
            <button class="btn btn-outline-primary m-2" data-toggle="modal" data-target="#editMainPageItemPhotoModal@(Model[0].Order)">Edytuj zdjęcie</button>
        </div>
        @if (Model.Count > 1)
        {
            <div><button class="btn btn-outline-success m-2 moveDown" data-order="@Model[0].Order">Przesuń w dół</button></div>

        }

    </div>
    @await Component.InvokeAsync("EditPhotoModal", Model[0].Order)
    @await Component.InvokeAsync("EditMainPageItemModal", Model[0])
    <hr />

}
@for (int i = 1; i < Model.Count; i++)
{
    <div class="d-flex justify-content-end"><button class="btn btn-outline-success m-2 moveUp" data-order="@Model[i].Order">Przesuń w górę</button></div>
    <div class="card mb-3 border-0">
        <div class="row no-gutters">
            @if (i % 2 == 0)
            {
                <div class="col-md-4">
                    <img src="@Url.Content(Model[i].PhotoUrl)" class="card-img" alt="@Model[i].Title">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(m => m[i].Title)</h5>
                        <p class="card-text">@Html.DisplayFor(m => m[i].Descritpion)</p>
                        <button class="btn btn-outline-dark" type="button" style="border-radius:1px">@Html.DisplayFor(m => m[i].ButtonText)</button>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(m => m[i].Title)</h5>
                        <p class="card-text">@Html.DisplayFor(m => m[i].Descritpion)</p>
                        <button class="btn btn-outline-dark " type="button" style="border-radius:1px">@Html.DisplayFor(m => m[i].ButtonText)</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Url.Content(Model[i].PhotoUrl)" class="card-img" alt="@Model[i].Title">
                </div>
            }
        </div>
    </div>
    <h6 class="text-muted">Przycisk przenosi do kategorii <b>@Html.DisplayFor(m => m[i].CategoryName)</b></h6>
    <div class="d-flex justify-content-between">
        <div>
            <button class="btn btn-outline-danger m-2 deleteMainPageItem" data-order="@Model[i].Order">Usuń</button>
            <button class="btn btn-outline-primary m-2" data-toggle="modal" data-target="#editMainPageItemModal@(Model[i].Order)">Edytuj treść</button>
            <button class="btn btn-outline-primary m-2 " data-toggle="modal" data-target="#editMainPageItemPhotoModal@(Model[i].Order)">Edytuj zdjęcie</button>
        </div>
        @if (i != Model.Count - 1)
        {
            <div><button class="btn btn-outline-success m-2 moveDown" data-order="@Model[i].Order">Przesuń w dół</button></div>

        }

    </div>
    @await Component.InvokeAsync("EditPhotoModal", Model[i].Order)
    @await Component.InvokeAsync("EditMainPageItemModal", Model[i])
    <hr />
}
<button class="btn btn-outline-secondary m-2" data-toggle="modal" data-target="#addMainPageItemModal">Dodaj element</button>
@await Component.InvokeAsync("AddMainPageItemModal")


<style>
    .card-img {
        max-height: 400px;
        width: 100%;
        object-fit: scale-down;
    }

    @@media (max-width: 768px) {
        .card-img-overlay {
            background-color: rgba(255, 255, 255, 0.5);
            width: 100% !important;
        }
    }
</style>