@inject My_Company.Interfaces.IRepositoryWrapper repositoryWrapper;
@inject My_Company.Interfaces.IConfig config;
@using static My_Company.Helpers.Constants;
@using Microsoft.EntityFrameworkCore;

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@await config.GetValue(ConfigKeys.Description,repositoryWrapper.ConfigRepository)" />
    <meta name="keywords" content="@await config.GetValue(ConfigKeys.Keywords,repositoryWrapper.ConfigRepository)" />
    <title>@ViewData["Title"] - @await config.GetValue(ConfigKeys.Title, repositoryWrapper.ConfigRepository)</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shop.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=" crossorigin="anonymous"></script>
    @RenderSection("Head", false)
</head>
<body>
    <header>
        <nav class="navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class=" row">
                    <div class="col-12 d-flex justify-content-between">
                        <a class="navbar-brand" asp-area="Shop" asp-controller="Home" asp-action="Index">@await config.GetValue(ConfigKeys.Title, repositoryWrapper.ConfigRepository)</a>
                        <div class="d-flex">
                            @await Component.InvokeAsync("Cart")
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse  justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        @foreach (var category in await repositoryWrapper.CategoriesRepository.FindByCondition(c => c.ParentCategoryId == null).ToListAsync())
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Products" asp-action="Search" asp-route-id="@category.Id">@category.CategoryName</a>
                            </li>
                        }

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - My_Company - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/shared/Cart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
