@model IEnumerable<My_Company.Areas.Warehouse.ViewModels.WarehouseRowViewModel>

@{
    ViewData["Title"] = "Edycja planu";
}

<h1>Edycja planu</h1>

<h4>@ViewData["WarehouseName"]</h4>
<hr />



<div class="table-responsive-md">

    <div class="d-flex justify-content-end mb-2">
        <button type="button" class="btn btn-outline-primary" id="addRowBtn" data-toggle="modal" data-target="#addRowModal">Dodaj rząd</button>
    </div>

    <table class="table table-bordered">
        
        <thead>
            <tr class="d-flex">
                <th class="col-2"></th>
                <th class="col-sm-6 col-md-7">
                    @Html.DisplayNameFor(model => model.RowName)
                </th>
                <th class="col-sm-4 col-md-3">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(r => r.Order).ToList())
            {
                <tr class="d-flex rowDetails" id="row-@item.Id">
                    <td class="rowExpander col-2" aria-rowId="@item.Id">
                        <i class="bi bi-caret-right"></i>
                    </td>
                    <td class="col-sm-6 col-md-7">
                        @Html.DisplayFor(modelItem => item.RowName)
                    </td>
                    <td class="col-sm-4 col-md-3">
                        <button class="btn openAddSectorModal m-0" data-toggle="modal" data-target="#addSectorModal" data-rowId="@item.Id"><i class="bi bi-plus-lg"></i></button>
                        <button class="btn openRemoveRowModal m-0" data-toggle="modal" data-target="#removeRowModal" data-rowId="@item.Id"><i class="bi bi-trash-fill"></i></button>
                        @if (item.Order != 1)
                        {
                        <button class="btn moveUpBtn m-0" data-rowId="@item.Id"><i class="bi bi-arrow-up"></i></button>
                        }
                        @if (item.Order != Model.Count())
                        {
                        <button class="btn moveDownBtn m-0" data-rowId="@item.Id"><i class="bi bi-arrow-down"></i></button>
                        }
                    </td>
                </tr>
                @foreach (var sector in item.Sectors)
                {
                    <tr style="display:none" aria-rowId="@item.Id" class="bg-light">
                        <td class="col-2">
                            @Html.DisplayFor(modelItem => item.RowName)@Html.DisplayFor(modelItem => sector.Order)
                        </td>
                        <td class="col-sm-6 col-md-7">
                            @if (sector.Order == item.Sectors.Last().Order)
                            {
                                if (sector.Deletable)
                                {
                                    <button class="btn openRemoveSectorModal m-0" data-toggle="modal" data-target="#removeSectorModal" data-sector="@sector.Id"><i class="bi bi-trash-fill"></i></button>
                                }
                                else
                                {
                                    <button disabled class="btn m-0"><i class="bi bi-trash-fill"></i></button> 
                                    <span class="text-danger">Usuń wszystkie produkty z sektoru</span>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @await Component.InvokeAsync("AddSectorsModal")
    @await Component.InvokeAsync("RemoveRowModal")
    @await Component.InvokeAsync("AddRowModal")
    @await Component.InvokeAsync("RemoveSectorModal")
</div>

<div class="spinner-border spinner spinnerHidden text-primary" >
    
</div>

<div class="alert alert-danger alert-dismissible fade hide" role="alert">
    <h5 class="alert-content">cos tam</h5>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/shared/shared.js"></script>
    <script src="~/js/Warehouse/Warehouses/EditPlan/EditPlan.js"></script>
}