@model IEnumerable<My_Company.Areas.Warehouse.ViewModels.WarehouseRowViewModel>

@{
    ViewData["Title"] = "Edycja planu";
}

<h1>Edycja planu</h1>

<h4>@ViewData["WarehouseName"]</h4>
<hr />



<div class="table-responsive-md">
    <table class="table table-bordered">
        
        <thead>
            <tr class="d-flex">
                <th class="col-2"></th>
                <th class="col-sm-6 col-md-7">
                    @Html.DisplayNameFor(model => model.RowName)
                </th>
                <th class="col-sm-4 col-md-3">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="d-flex" id="row-@item.Id">
                    <td class="rowExpander col-2" aria-rowId="@item.Id">
                        <i class="bi bi-caret-right"></i>
                    </td>
                    <td class="col-sm-6 col-md-7">
                        @Html.DisplayFor(modelItem => item.RowName)
                    </td>
                    <td class="col-sm-4 col-md-3">
                        <button class="btn openAddSectorModal" data-toggle="modal" data-target="#addSectorModal" data-rowId="@item.Id"><i class="bi bi-plus-lg"></i></button>
                        <button class="btn" data-rowId="@item.Id"><i class="bi bi-trash-fill"></i></button>
                        @if (item.Order != 1)
                        {
                            <button class="btn moveUpBtn" data-rowId="@item.Id"><i class="bi bi-arrow-up"></i></button>
                        }
                        @if (item.Order != Model.Count())
                        {
                        <button class="btn moveDownBtn" data-rowId="@item.Id"><i class="bi bi-arrow-down"></i></button>
                        }

                    </td>
                </tr>
                @foreach (var sector in item.Sectors)
                {
                    <tr style="display:none" aria-rowId="@item.Id">
                        <td class="col-2">
                            @Html.DisplayFor(modelItem => item.RowName)@Html.DisplayFor(modelItem => sector.Order)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @await Component.InvokeAsync("AddSectorsModal")
</div>

<div class="spinner-border spinner spinnerHidden text-primary" >
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Warehouse/Warehouses/EditPlan/EditPlan.js"></script>
}