@*Program powstał na Wydziale Informatyki Politechniki Białostockiej*@
@model My_Company.ViewModels.PagedList<My_Company.Areas.Warehouse.ViewModels.EmployeeListItem>

<div class="d-flex justify-content-between row">
    <div class="col-sm-12 col-md-6 m-2">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn @(Model.PageSize == 10 ? "btn-primary" : "btn-outline-primary") changePageSize" value="10">10</button>
            <button type="button" class="btn @(Model.PageSize == 25 ? "btn-primary" : "btn-outline-primary") changePageSize" value="25">25</button>
            <button type="button" class="btn @(Model.PageSize == 50 ? "btn-primary" : "btn-outline-primary") changePageSize" value="50">50</button>
            <button type="button" class="btn @(Model.PageSize == 100 ? "btn-primary" : "btn-outline-primary") changePageSize" value="100">100</button>
        </div>
    </div>
    <div class="col d-flex justify-content-end m-2">
        <ul class="pagination ">
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a href="#" class="page-link prevPageBtn">Poprzednia</a>
            </li>

            <li class="page-item"><input type="number" min="1" max="@Model.TotalPages" class="form-control" value="@Model.CurrentPage" id="pageValue2" /></li>
            <li class="page-item ">
                <a class="page-link" href="#" id="changePageBtn2">Przejdź</a>
            </li>
            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "") ">
                <a class="page-link nextPageBtn" href="#">Następna</a>
            </li>
        </ul>
    </div>
</div>

<div class="table-responsive-md">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].NameAndSurname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].LockoutEnabled)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameAndSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @if (item.LockoutEnabled)
                        {
                            <i class="bi bi-lock"></i>
                        }
                        else
                        {
                            <i class="bi bi-unlock"></i>
                        }
                    </td>
                    <td>
                        @if (item.UserName != Context.User.Identity.Name)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-fill"></i></a>
                            @if (item.LockoutEnabled)
                            {
                                <a href="#" data-id="@item.Id" class="unlockUserBtn"><i class="bi bi-unlock"></i></a>
                            }
                            else
                            {
                                <a href="#" data-id="@item.Id" class="lockUserBtn"><i class="bi bi-lock"></i></a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-between mt-2 row">
    <div class="col-sm-12 col-md-6 m-2">
        Jesteś na stronie @Model.CurrentPage z @Model.TotalPages
    </div>
    <div class="col d-flex justify-content-end m-2">
        <ul class="pagination">
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "") prevPageBtn">
                <a href="#" class="page-link">Poprzednia</a>
            </li>

            <li class="page-item"><input type="number" min="1" max="@Model.TotalPages" class="form-control" value="@Model.CurrentPage" id="pageValue1" /></li>
            <li class="page-item ">
                <a class="page-link" id="changePageBtn1" href="#">Przejdź</a>
            </li>
            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <a class="page-link nextPageBtn" href="#">Następna</a>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    var currentPage = @Model.CurrentPage;
    var totalPages = @Model.TotalPages;
    var pageSize = @Model.PageSize;
</script>